# Lab Notebook
**Author:** Amr Yasser Badr Hussein

**Date:** November 29, 2025

In [3]:
import pandas as pd

df = pd.read_csv("salaries.csv")
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Analyst,142000,USD,142000,US,0,US,M
1,2025,MI,FT,Analyst,87000,USD,87000,US,0,US,M
2,2025,SE,FT,Data Quality Lead,218700,USD,218700,US,0,US,M
3,2025,SE,FT,Data Quality Lead,163200,USD,163200,US,0,US,M
4,2025,MI,FT,Data Quality Specialist,121524,USD,121524,US,0,US,M

In [8]:

df.isnull().sum()
cat_cols = [
    "experience_level", "employment_type", "job_title",
    "salary_currency", "employee_residence",
    "company_location", "company_size"
]

for col in cat_cols:
    df[col] = df[col].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146348 entries, 0 to 146347
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           146348 non-null  int64
 1   experience_level    146348 non-null  category
 2   employment_type     146348 non-null  category
 3   job_title           146348 non-null  category
 4   salary              146348 non-null  int64
 5   salary_currency     146348 non-null  category
 6   salary_in_usd       146348 non-null  int64
 7   employee_residence  146348 non-null  category
 8   remote_ratio        146348 non-null  int64
 9   company_location    146348 non-null  category
 10  company_size        146348 non-null  category
dtypes: category(7), int64(4)
memory usage: 5.6 MB

In [10]:
Q1 = df['salary_in_usd'].quantile(0.25)
Q3 = df['salary_in_usd'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['salary_in_usd'] < Q1 - 1.5 * IQR) |
              (df['salary_in_usd'] > Q3 + 1.5 * IQR)]
outliers.head()
df['remote_ratio'].unique()

array([  0, 100,  50])

In [15]:
df = df[df['remote_ratio'].isin([0, 50, 100])]
df.info()
df = df[(df['work_year'] >= 2019) & (df['work_year'] <= 2025)]
df.to_csv("cleaned_file.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146348 entries, 0 to 146347
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           146348 non-null  int64
 1   experience_level    146348 non-null  category
 2   employment_type     146348 non-null  category
 3   job_title           146348 non-null  category
 4   salary              146348 non-null  int64
 5   salary_currency     146348 non-null  category
 6   salary_in_usd       146348 non-null  int64
 7   employee_residence  146348 non-null  category
 8   remote_ratio        146348 non-null  int64
 9   company_location    146348 non-null  category
 10  company_size        146348 non-null  category
dtypes: category(7), int64(4)
memory usage: 5.6 MB

In [16]:
import pandas as pd

df = pd.read_csv("/content/salaries.csv")
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Analyst,142000,USD,142000,US,0,US,M
1,2025,MI,FT,Analyst,87000,USD,87000,US,0,US,M
2,2025,SE,FT,Data Quality Lead,218700,USD,218700,US,0,US,M
3,2025,SE,FT,Data Quality Lead,163200,USD,163200,US,0,US,M
4,2025,MI,FT,Data Quality Specialist,121524,USD,121524,US,0,US,M

In [17]:

df.isnull().sum()
cat_cols = [
    "experience_level", "employment_type", "job_title",
    "salary_currency", "employee_residence",
    "company_location", "company_size"
]

for col in cat_cols:
    df[col] = df[col].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146348 entries, 0 to 146347
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           146348 non-null  int64
 1   experience_level    146348 non-null  category
 2   employment_type     146348 non-null  category
 3   job_title           146348 non-null  category
 4   salary              146348 non-null  int64
 5   salary_currency     146348 non-null  category
 6   salary_in_usd       146348 non-null  int64
 7   employee_residence  146348 non-null  category
 8   remote_ratio        146348 non-null  int64
 9   company_location    146348 non-null  category
 10  company_size        146348 non-null  category
dtypes: category(7), int64(4)
memory usage: 5.6 MB

In [18]:
Q1 = df['salary_in_usd'].quantile(0.25)
Q3 = df['salary_in_usd'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['salary_in_usd'] < Q1 - 1.5 * IQR) |
              (df['salary_in_usd'] > Q3 + 1.5 * IQR)]
outliers.head()
df['remote_ratio'].unique()

array([  0, 100,  50])

In [19]:
df = df[df['remote_ratio'].isin([0, 50, 100])]
df.info()
df = df[(df['work_year'] >= 2019) & (df['work_year'] <= 2025)]
df.to_csv("cleaned_file.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146348 entries, 0 to 146347
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           146348 non-null  int64
 1   experience_level    146348 non-null  category
 2   employment_type     146348 non-null  category
 3   job_title           146348 non-null  category
 4   salary              146348 non-null  int64
 5   salary_currency     146348 non-null  category
 6   salary_in_usd       146348 non-null  int64
 7   employee_residence  146348 non-null  category
 8   remote_ratio        146348 non-null  int64
 9   company_location    146348 non-null  category
 10  company_size        146348 non-null  category
dtypes: category(7), int64(4)
memory usage: 5.6 MB

In [20]:
import os

file_path = '/content/salaries.csv'
file_size_bytes = os.path.getsize(file_path)
file_size_kb = file_size_bytes / 1024
file_size_mb = file_size_kb / 1024

print(f"حجم الملف الأصلي ({file_path}):")
print(f"{file_size_bytes:.2f} بايت")
print(f"{file_size_kb:.2f} كيلوبايت")
print(f"{file_size_mb:.2f} ميغابايت")

حجم الملف الأصلي (/content/salaries.csv):
8001867.00 بايت
7814.32 كيلوبايت
7.63 ميغابايت

In [ ]:
import pandas as pd
import os

df = pd.read_csv("/content/salaries.csv")
print("أول 5 صفوف من الملف الأصلي:") # First 5 rows of the original file
df.head()

In [ ]:
print("التحقق من القيم المفقودة:") # Checking for missing values
df.isnull().sum()

cat_cols = [
    "experience_level", "employment_type", "job_title",
    "salary_currency", "employee_residence",
    "company_location", "company_size"
]

for col in cat_cols:
    df[col] = df[col].astype("category")

print("معلومات DataFrame بعد تحويل الأعمدة الفئوية:") # DataFrame info after converting categorical columns
df.info()

In [ ]:
Q1 = df['salary_in_usd'].quantile(0.25)
Q3 = df['salary_in_usd'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['salary_in_usd'] < Q1 - 1.5 * IQR) |
              (df['salary_in_usd'] > Q3 + 1.5 * IQR)]
print("القيم المتطرفة في عمود salary_in_usd:") # Outliers in the 'salary_in_usd' column
outliers.head()

print("القيم الفريدة في عمود remote_ratio:") # Unique values in the 'remote_ratio' column
df['remote_ratio'].unique()

In [ ]:
df = df[df['remote_ratio'].isin([0, 50, 100])]
print("معلومات DataFrame بعد تصفية remote_ratio:") # DataFrame info after filtering 'remote_ratio'
df.info()
df = df[(df['work_year'] >= 2019) & (df['work_year'] <= 2025)]
df.to_csv("cleaned_file.csv", index=False)
print("تم حفظ الملف النظيف في cleaned_file.csv") # Cleaned file saved to 'cleaned_file.csv'

In [ ]:
file_path = '/content/salaries.csv'
file_size_bytes = os.path.getsize(file_path)
file_size_kb = file_size_bytes / 1024
file_size_mb = file_size_kb / 1024

print(f"حجم الملف الأصلي ({file_path}):") # Size of the original file
print(f"{file_size_bytes:.2f} بايت") # Bytes
print(f"{file_size_kb:.2f} كيلوبايت") # Kilobytes
print(f"{file_size_mb:.2f} ميغابايت") # Megabytes