# Full Lab Notebook
**Author:** Amr Yasser Badr Hussein

**Date:** November 26, 2025

## 1. Students Dictionary

In [ ]:
students = {
    "name":["Omar","yousef"],
    "salary":[7500,5000]
}

### Add new students

In [ ]:
students["name"].append("ahmed")
students["salary"].append(8000)
students["name"].append("ali")
students["salary"].append(10000)

### Print all students using f-string

In [ ]:
for i in range(len(students["name"])):
    print(f"Name: {students['name'][i]}, Salary: {students['salary'][i]})

### Print using format

In [ ]:
for i in range(4):
    print("Name:{},Salary:{}".format(students["name"][i],students["salary"][i]))

## 2. Lists Practice

In [ ]:
mylist=["realmadrid","barca","atletco","chelse","liverpool"]
mylist.insert(2,"alahly")
mylist.append("zamalek")
mylist

## 3. Function add()

In [ ]:
mlist=[]
def add(name,age,salary):
    mlist.append(name)
    mlist.append(age)
    mlist.append(salary)
    print(mlist)

add("ali",15,110)

## 4. Class Emp

In [ ]:
class Emp:
    data = {}

    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

        Emp.data[name] = {
            "age": age,
            "salary": salary
        }

    def add(self, name, age, salary):
        Emp.data[name] = {
            "age": age,
            "salary": salary
        }

    def display():
        print(Emp.data)

e1 = Emp("Omar", 25, 15000)
e1.add("Ali", 30, 20000)

print(Emp.data)

## 5. Matplotlib Scatter Plot

In [ ]:
import matplotlib.pyplot as plt
x=[1,2,3,4]
y=[1,2,3,4]

plt.scatter(x,y)
plt.title("first graph")
plt.xlabel("x axis")
plt.ylabel("y axis")
plt.show()

## 6. Seaborn Plots

In [ ]:
import seaborn as sns
data = sns.load_dataset('tips')
sns.lineplot(x='total_bill',y='tip',data=data)
plt.title("Line Plot")
plt.show()

In [ ]:
sns.boxplot(x="day",y="total_bill",data=data)
plt.title("Box plot")
plt.show()

## 7. Pandas Excel Loading

In [ ]:
import pandas as pd
df = pd.read_excel("countries.xlsx")
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.shape

## 8. Plot Population vs Year

In [ ]:
x = df["population"]
y = df["year"]
plt.plot(x,y)
plt.show()

## 9. Filter Countries

In [ ]:
df

In [ ]:
us = df[df.country=="United States"]
us

In [ ]:
ch = df[df.country=="China"]
ch['population'].count()